
.sf2-db-records-tab {
    position: relative;
}

.sf2-db-records-tab i.sf2-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    animation: blinker 1s linear infinite;
    border-radius: 3px;
    font-size: 10px;
    color: #fff;
    display: block;
    padding: 0px 4px;
    background: #ff0000;
    font-style: normal;
    font-weight: 600;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}